@import '.../../../../../../../core/theme/theme.css';

.inputBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    label {
        font-size: 1rem;
        color: var(--secondary-color);
        font-weight: 700;
        font-family: var(--font-family);
    }

    input {
        padding: 0.5rem;
        border-radius: 0.8rem;
        border: 2px solid var(--secondary-color);
        font-size: 1rem;
        color: var(--dark-color);
        font-family: var(--font-family);

    }
}