@import '.../../../../../../../core/theme/theme.css';

.inputBox {
    
    label {
        font-size: 1rem;
        color: var(--secondary-color);
        font-weight: 700;
        font-family: var(--font-family);
    }

    input {
        width: 80%;
        padding: 0.5rem;
        border-radius: 0.8rem;
        border: 2px solid var(--secondary-color);
        font-size: 1rem;
        color: var(--dark-color);
        font-family: var(--font-family);
        margin-top: 0.5rem;
    }
}