@import '.../../../../../../../core/theme/theme.css';

.nav {
    background-color: var(--secondary-color);
    padding: 1rem;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 2px rgba(0, 0, 0, 0.24);

    h1 {
        font-size: 2rem;
        color: var(--primary-color);
        font-weight: 700;
        font-family: var(--font-family);
    }
}